@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

.hero-heading {
    font-weight: 600;
}

.custom-carousel button {
    /* width: 100px !important; */
    color: #555FAB !important;
    font-weight: 900;
}